

/*
COLORS:

Light purple: #b6afec   
Medium purple: #8982db
Dark purple: #4d40b2
Green: #d2e188
Cream: #fff8de

*/

$color-primary:#5b4fb6;
$color-primary-light:#bbb7df;
$color-primary-dark: #353068;
$color-highlight:#592bff;
$color-white: #fff;
$color-white-2: #f3f1f7;
$color-gray: #635675;
$color-gray-med: #948f9f;
$color-gray-dark:#3c3544;
$color-green: #88e1a6;


// GRID
$grid-width: 120rem;
// $gutter-vertical: 1rem;
// $gutter-horizontal: 1rem;