.content {
    position: relative;
    margin-bottom: 42rem;
    background-color: $color-white;
    overflow: hidden;
    box-shadow: 1rem 0 1rem rgba(black,0.5);
    @include respond(phone) {
        margin-bottom: 50rem; 
    }
}