.grid {
    max-width: $grid-width;
    width: 100%;
    margin: 0 auto;

    
    @include clearfix;

    div[class*="col-"] {
        float: left;

        img {
            width: 100%;
        }

    }


    .col-1-of-4 {
        width: calc(100%/4);
        @include respond(tab-land) {
            width: calc(100%/3)!important;
        }
        @include respond(tab-port) {
            width: calc(100%/2)!important;   
        }
        @include respond(phone) {
            width: 100%!important; 
        }
    }


    .col-1-of-5 {
        width: calc(100% / 5);
        @include respond(tab-port) {
            width: calc(100%/4)!important;   
        }
        @include respond(phone) {
            width: calc(100%/3)!important;   
        }
    }
    .col-3-of-5 {
        width: calc(3 * (100% / 5));
        @include respond(tab-port) {
            width: calc(100%/2)!important;   
        }
        @include respond(phone) {
            width: calc(100%/3)!important;  
        }
    }
}








