.header {
    position: relative;
    height: 95vh;
    overflow: hidden;

    @include respond(phone) {
        height: 100vh;
    }
    &__shade {
        opacity: 0.08;
        width: 100vw;
        height: 100vh;
        background: url(../img/shade.svg);
        background-size: cover;
        background-position: top-right;
        background-repeat: no-repeat;
    }
    &__flower {
        width : 1.2rem;
        opacity: 0.9;
        position: absolute;
        left: -1rem;
        top : 5%;
        animation: flyX 20s ease-in infinite;
        @include respond(phone){
            animation: flyX2 20s ease-in infinite;
        }
        &-svg {
            animation: flyY 20s ease-out infinite;
            @include respond(phone){
                animation: flyY2 20s ease-out infinite;
            }
        }
        
    }

    &__middle-2 {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
        
    }

    &__textbox {
        text-align: center;
        position: absolute;
        width: fit-content;
        top: 48%;
        left: 60%;
        transform: translate(-50%,-50%) translateZ(0);
        @include respond(phone) {
            top: 35%;
            left: 50%;
        }
        &-content {
            color: $color-primary;
        }

        
    }



    &__display {
        width: 18rem;
        position: absolute;
        bottom: 0rem;
        left: 22%;

        @include respond(tab-land) {
            left: 15%;
        }
        @include respond(tab-port) {
            left: 10%;
        }
        @include respond(phone) {
            height: 55vh;
            width: auto;
            left: 55%;
        }
        
    }

    &__back {
        position: absolute;
        bottom: -5rem;
        background-repeat: repeat-x;
        width: 100%;
        height: 100%;
        background-size: 90rem;
        background-image: url(../img/back-lavender.png);
        background-position: 0% 100%;
        @include respond(phone) {
            background-size: 70rem;
            bottom: 0rem;
        }
    }
    &__fore {
        position: absolute;
        bottom: -17rem;
        height: 100%;  
        width: 100%;
        background-size: 90rem;
        background-repeat: repeat-x;
        background-image: url(../img/fore-lavender.png);
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;          /* Firefox */
        image-rendering: -o-crisp-edges;            /* Opera */
        image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
        -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
        background-position : 0% 100%;
        // background-color:rgba(green,0.55);
        @include respond(phone) {
            background-size: 70rem;
            bottom: -10rem;
        }
    }
}