.btn,
.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 1rem 1.6rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
}

.btn-full,
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color : $color-white;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: $color-primary;
    
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgba($color-primary-light,0.5);
   
    
}

.btn-outline,
.btn-outline:link,
.btn-outline:visited {
    border: 1px solid $color-primary;
    color: $color-primary;
}


.btn-outline:hover,
.btn-outline:active {
    color : $color-white;
    border: 1px solid $color-primary;
}
