
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


*:focus {
    outline: 0 !important;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
    @include respond(tab-land) { 
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { 
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

::selection {
    background-color: rgb(220, 218, 255);
}

